body {
	background-image: url('assets/og.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
	background-position: center;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-top: 100px;
}

.scope {
    z-index: 2;
    position: relative;
    width: auto;
    height: 400px;
    user-select: none;
    content: url("assets/scope-colored.png");
}

.container:hover .label{
    opacity: 1;
}

#effect{
    z-index: 2;
    background-color: rgba(0,0,0,0.20);
    animation: ScreenEffect 0.05s ease infinite;
    pointer-events: none;
}

.screen {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 230px;
    width: 245px;
    height: 200px;
    user-select: none;
    background-color: black;
}

.screen-content {
    display: flex;
    width: auto;
    object-fit: contain;
    animation: glitch 1s linear infinite;
    content: url("assets/Head.PNG");
}

.label {
    z-index: 4;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: auto;
    height: 300px;
    filter: drop-shadow(0px 0px 3px #000)
    drop-shadow(0px 0px 1px #000)
    drop-shadow(0px 0px 5px rgb(219, 20, 22));   
}

#soundcloud-label {
    top: -80px;
    left: 590px;
    content: url("assets/icons/soundcloud-label.png"); 
}

#bandcamp-label {
    top: 50px;
    left: -170px;
    content: url("assets/icons/bandcamp-label.png"); 
}

.icon {
    z-index: 4;
    position: absolute;
}

#soundcloud {
    top: 140px;
    left: 570px;
    width: 60px;
    height: 65px;
}

#soundcloud:hover ~ .screen .screen-content {
    content: url("assets/icons/soundcloud.png");
}

#bandcamp {
    top: 65px;
    left: 70px;
    width: 70px;
    height: 55px;
}

#bandcamp:hover ~ .screen .screen-content {
    content: url("assets/icons/bandcamp.png");
}

@keyframes ScreenEffect {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
  }

  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
